/* Transparent Background Colour */
#block-7123784606e377857663,
#block-79967c176ba5d77cd249,
#block-561bf55778203d44a452,
#block-8582929a3a38717c3757,
#block-f8370543ef958d8be6e7,
#block-944c09014b854d9fc46d,
#block-3b33f184348212db2b3e,
#block-d856ca1032b3cc578894,
#block-869a76810bdef3b5872a,
#block-4a7ee05d3a640e55dc1f,
#block-e2b2a0072e8e4342fe2f,
#block-41490de808cbb3494668,
#block-976477754191727dbeaf,
#block-c75f22b8f9c5a4b15a86,
#block-23c69fd083641bc4ee17,
#block-f427e2313bb0e29dcf52,
#block-6cddc716dc2f047eb7c0,
#block-5ac4b8b2244f00ec55f1,
#block-3c1d78e51b676de96203,
#block-851f16a241d12aa5eb2b,
#block-f58917dc5677718c3e4c,
#block-5c1b92cfb3d90b63e053,
#block-03cc69400e5e171c6e41,
#block-631557399cb28330ae30,
#block-bcb4ee12fc1c96ed6762 {
  background: rgba(0,125,102, 0.5);
  padding-top: 1vw;
}

/*setup language switcher*/
.language {
  margin-left: 1em;
  font-family: acumin-pro;
  font-weight: 700;
  color: var(--gradientHeaderNavigationColor);
  z-index: 99999;
  a {
    color: var(--gradientHeaderNavigationColor);
    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: 640px) {
  .language {
    margin:0;
    margin-top: 2em;
    font-size: 2em;
    color: var(--headingMediumColor);
    text-align: center;
  }
}